

.element2{
    /* background: red; */
    padding-left:5vw;
    padding-right:5vw;
    width:100%;
    height:auto;
    padding-top:5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F7F1FC;


}


.element2_leftSide{
    /* background: green; */
    padding-top:2vw;
    padding-bottom:2vw;
    width:30%;
    height:full;
    display: flex;
    flex-direction: column;
    /* background: red; */
    display: flex;
    justify-content: center;

}

.element2_leftSide p{
    font-size:1.vw;
    font-weight:700;
}



.element2_leftSide h1{
    font-size:3vw;
    width:full;
    font-family: "DM Sans";
    font-weight:700;
}




.element2_leftSide div{
    display: flex;
    flex-direction: row;

}


.element2_leftSide button{
    background: #573DB8;
    padding:10px;
    padding-left:20px;
    padding-right:20px;

    border-radius:20px;
    color:white;
    border:none;
}


.element2_rightSide{
    flex: 1;
    height: 100%;
    /* background: #000; */
    display: flex;
    flex-wrap: wrap;
    gap:7vh;
    row-gap: 15px;
    /* flex-flow: ; */
    align-items: center;
    justify-content: center;
}


.element2_rightSide_card{
    width:40%;
    height: auto;
    border: 1px solid #07000E33;
    display: flex;
    flex-grow: 1;
    /* flex: 0 0 50%; */
    flex-direction: row;
    padding:2vw;
    align-items: center;
    justify-content: center;
    border-radius:10px;
}

.element2_rightSide_card h1{
    font-size:20px;
}

.element2_rightSide_card p{
    font-size:12px;
}

.element2_rightSide_card_icon_contaner{
    width:10%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: start;
}
.element2_rightSide_card_icon_contaner img{
    position: relative;
    right:130%;
    width:10vw;
}


.btn{
    width: 3vw;
    height: 3vw;
    border-radius:50%;
    background: #573DB8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.1vw;
}





@media screen and (max-width: 1020px) {
    .element2{
        /* background: red; */
        padding-left:5vw;
        padding-right:5vw;
        width:100%;
        height:auto;
        display: flex;
        gap:4vh;
        flex-direction: column;

    
    
    }


    .element2_leftSide{
        /* background: green; */
        margin-top:5vh;
        padding-top:2vw;
        padding-bottom:2vw;
        width:100%;
        height:full;
        display: flex;
        flex-direction: column;
        /* background: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .element2_leftSide p{
        font-size:1.9vw;
        font-weight:700;
    }
    
    
    
    .element2_leftSide h1{
        font-size:10vw;
        width:full;
        text-align: center;
        font-family: "DM Sans";
        font-weight:700;
    }
    
    

    .element2_rightSide{
        flex: 1;
        height: 100%;
        
        /* background: #000; */
        display: flex;
        flex-flow:column;
        gap:1vh;
    }

    .element2_rightSide_card{
        width:99%;
        height: auto;
        padding:2vw;

    }

    .element2_rightSide_card_icon_contaner{
        width:10%;
        /* background: red; */
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .element2_rightSide_card_icon_contaner img{
        position: relative;
        right:80%;
        width:40vw;
    }

    .btn{
        width: 3vh;
        height: 3vh;
    }

    .btn_container{
    
        gap:0.5vw;
    }



    .element2_rightSide_card h1{
        font-size:2vh;
    }
    
    .element2_rightSide_card p{
        font-size:1.8vh;
    }





}