

.element5{
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100vw;
    height: auto;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F1FC;
    margin-top:10vw;
}

.element5_header{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.element5_imageFrame_container{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:4vw;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.element5_imageFrame{
    width:20vw;
    height:20vw;
    /* background:red; */
    border-radius:50%;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url('/assets/person01.svg');
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
    
}

.person-2{
    background-image: url('/assets/person02.svg');

}


.person-3{
    background-image: url('/assets/person03.svg');

}


.person-4{
    background-image: url('/assets/person04.svg');

}




.person-5{
    background-image: url('/assets/person05.svg');

}






.element5_imageFrame_round_icon_frame{
    margin-top:-3%;
    width:3vw;
    height:3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius:50%;
    cursor: pointer;
}

.element5_imageFrame_round:hover  .element5_imageFrame_round_icon_frame{
    background:#8FD45F;
}





.element5_imageFrame_round{
    width:20vw;
    height:20vw;
    position: relative;
    top:60%;
    background:#573DB8;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap:8%;
}

.element5_imageFrame_round h1{
    font-size:1.3vw;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
}

.element5_imageFrame_round img{
    /* background: red; */
    width:50%;
}
.hover_menu{
    z-index: 30;
    margin-top: -45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:20%;
    height: auto;
    background: white;
    padding:0.5vw;
    border-radius: 20px;
    
    visibility: hidden;
}

.hover_menu img{
    width:35%;
}

.element5_imageFrame_round:hover .hover_menu{
    visibility: visible;
    /* background: red; */

}

.hover_menu:hover {
    visibility: visible;
}

@media screen and (max-width: 1020px) {


    .element5{
        gap:10vh;
    }

    .element5_imageFrame_container{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        gap:10vw;
        /* background: red; */
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    
    .element5_imageFrame{
        width:70vw;
        height:70vw;
        /* overflow: visible; */
        
    }

    .element5_imageFrame_round{
        width:70vw;
        height:70vw;
        position: relative;
        top:60%;
        gap:8%;
    }



    .element5_imageFrame_round_icon_frame{
        margin-top:-3%;
        width:7vw;
        height:7vw;
   
    }
    



    .element5_imageFrame_round h1{
        font-size:4vw;

    }

    .element5_header h1{
        font-size:4vw;
    }
    .element5_header p{
        font-size:4vw;
    }




    .hover_menu{
        z-index: 30;
        margin-top: -30%;
    width:15%;


    }
    
    .hover_menu img{
        width:35%;
    }
    








}
